
body {
    margin-left: 200px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgb(134, 95, 129);
    color: rgb(9, 27, 26);
}

input {
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: lightcoral;
    margin-left: 100px;
    margin-top: 10px;
    padding: 10px 16px;
    border: 3px solid orchid;

}

button {
    margin-left: 100px;
    margin-top: 10px;
    padding: 10px 16px;
    cursor: pointer;
    border: 2px solid orchid;
    background-color: rgb(9, 111, 145);
}

#savedEstimates {
    margin-top: 15px;
    font-size: 14px;
}

#savedEstimates div {
    padding: 10px;
    margin-top: 8px;
    background: orchid;
    border-radius: 6px;
}